
.wrapper{
  width: 595px;
  height: 941px;
  background-color: #fff;
  border: 1px;
  display: flex;
  justify-content: flex-start;
  border: 1.5px solid  rgba(0, 0, 0, 0.06);
}
/* left */
.left{
  width: 225px;
  height: 100%;
  border: 2px;
  background-color: #626262;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hobby{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100px;
  margin-top: 20px;
}

.wrapperAvatar{
  width: 100%;
  height: 247px;
  margin-bottom: 10px;
  border: 1.5px solid #ffb156;
  display: flex;
}
.avatar{
  width: 100%;
}

/* right */
.right{
  flex: 1;
  height: 100%;
  border: 2px;
}

.header{
  padding: 10px;
}

.itemHeader{
  font: 24px Raleway;
  font-weight: 700;
  padding-bottom: 10px;
}
.itemHeader2{
  font: 20px Raleway;
  font-weight: 700;
}

.content{
  font: 13px Raleway;
  margin: 19px;
  text-align: justify;
  
}

.wrapperAboutme{
  margin-left: 13px;
}

.item{
  padding: 13px 19px 13px 19px;
  font: 14px Raleway;
  font-weight: 600;
}

.item1{
  display: flex;
  justify-content: space-between;
}
