.wrapper{
    display: flex;
    align-items: center;
    padding: 10px;
}
.dots{
    display: flex;
    justify-content: flex-start;
    column-gap: 4px;
}

.label{
    font: 14px Raleway;
    color: #fff;
    margin-right: 20px;
    min-width: 66px;
}

.number1{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: flex;
    background-color: rgb(255, 255, 255);
}

.number2{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: flex;
  background-color: orange;
  
}